<%- include('../inc/header-admin.ejs') %>
<!-- Viết code màn hình tại đây -->
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Nhà hàng</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">User</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <!-- Code ở đây -->

    <%- include('../inc/footer.ejs') %>
  </section>
</main>
