<!-- revenue.ejs -->

<%- include('../inc/header-user.ejs') %>

<main>
  <div style="margin-top: 80px; height: 100vh; margin-left: 320px; flex: 1;">
    <!-- Biểu đồ cột -->
    <div class="chart-container" style="position: relative; height:80vh; width:80vw;">
      <canvas id="revenueBarChart"></canvas>
    </div>
  </div>
</main>

<%- include('../inc/footer.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', async function () {
    // Fetch dữ liệu cho biểu đồ cột
    const barResponse = await fetch('/api/revenue');
    const barData = await barResponse.json();

    const barLabels = ['Doanh Thu']; // Tên của biểu đồ cột
    const barRevenueData = [barData.totalRevenue];

    // Lấy thẻ canvas cho biểu đồ cột
    const barCtx = document.getElementById('revenueBarChart').getContext('2d');

    // Tạo biểu đồ cột
    new Chart(barCtx, {
      type: 'bar',
      data: {
        labels: barLabels,
        datasets: [{
          data: barRevenueData,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1,
        }],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  });
</script>
